<img id="face" src="assets/pictures/face.jpg" width="100%" height="500px" alt="">

<div class="form-group col-3" id="signinform">
  <label class="col-form-label" for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Enter username">

  <label class="col-form-label" for="dob">DOB</label>
  <input type="text" class="form-control" id="dob" placeholder="Enter your birthday">
 
  <label for="email">E-mail</label>
  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
  
  <label class="col-form-label" for="username">Username</label>
  <input type="text" class="form-control" id="username" placeholder="Enter your username">

  <label for="password">Password</label>
  <input type="password" class="form-control" id="password" placeholder="password">

  <label for="cardnumber">Credit card number </label>
  <input class="form-control" type="number" id="cardnumber" placeholder="Enter credit card number">

  <button type="button" class="btn btn-dark mb-2 mt-1 float-right">Register</button>

</div>