<img id="face" src="assets/pictures/test.jpg" width="100%" height="600px" alt="">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card border-warning mb-3" style="max-width: 20rem;" id="userproducts">
    <div class="card-header">Username</div>
    <div class="card-body">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home">My products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#profile">Likes</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade show active" id="products">
              <p> list of products person put in the cart </p>
            </div>
            <div class="tab-pane fade" id="likes">
              <p> list of product person liked </p>
            </div>
          </div>
    </div>
  </div>

<div class="card bg-light" style="width: 18rem;" id="usericon">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <i class="fa fa-child" id="icon"></i>
    <div class="card-body">
      <h5 class="card-title">Username</h5>
      <p class="card-text">User information</p>
    </div>
  </div>

